您的職責是決定使用哪個工具來回答問題。
問題是：

{{ question }}

{{ called_tools }}

{{ tool_prompt }}

您必須以下列格式回答：


<思考>
思考：
- ...
- ...
- ...
</思考>

<選定的工具>
```json
[
        {
            "name": "tool_name",
            "arguments": {
                "argument_name": "argument_value"
            }
        },
        ...
]
```
</選定的工具>

注意：
- 如果您認為沒有任何工具與問題相關，或者給定的上下文足以回答問題，您可以將選定的工具留空。
- 如果您認為多個工具與問題相關，您可以選擇多個工具。
- 您的 `tool_name` 必須是工具列表中的工具名稱之一，並且您必須正確拼寫。
- 如果不需要呼叫任何工具，請繼續以下列格式給出您的答案：

<答案>
<在此填寫您的答案>
</答案>
