### Python ###
# 位元組編譯 / 優化 / DLL 檔案
__pycache__/
*.py[cod]
*$py.class

# C 語言擴充
*.so

# 發行 / 打包
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  通常這些檔案是由 python 腳本從範本寫入的
#  在 PyInstaller 建置 exe 之前，以便將日期/其他資訊注入其中。
*.manifest
*.spec

# 安裝程式日誌
pip-log.txt
pip-delete-this-directory.txt

# 單元測試 / 覆蓋率報告
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# 翻譯
*.mo
*.pot

# Django 相關:
*.log
local_settings.py

# Flask 相關:
instance/
.webassets-cache

# Scrapy 相關:
.scrapy

# Sphinx 文件
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat 排程檔案
celerybeat-schedule

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# Spyder 專案設定
.spyderproject

# Rope 專案設定
.ropeproject


### Linux ###
*~

# 如果一個進程仍然持有已刪除檔案的控制代碼，則可能會建立臨時檔案
.fuse_hidden*

# KDE 目錄偏好設定
.directory

# 可能出現在任何分割區或磁碟上的 Linux 垃圾桶資料夾
.Trash-*

# 當一個開啟的檔案被移除但仍在被存取時，會建立 .nfs 檔案
.nfs*


### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# 圖示
# 圖示檔案必須以兩個 \r 結尾
Icon

# 縮圖
._*
# 可能出現在磁碟區根目錄的檔案
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
# 可能在遠端 AFP 共享上建立的目錄
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Windows ###
# Windows 圖片檔案快取
Thumbs.db
ehthumbs.db

# 資料夾設定檔
Desktop.ini

# 用於檔案共享的資源回收桶
$RECYCLE.BIN/

# Windows 安裝程式檔案
*.cab
*.msi
*.msm
*.msp

# Windows 捷徑
*.lnk


### Vagrant ###
.vagrant/
### 本地規則，請參閱 .gitignore.tail 來覆蓋！ ###
shippable
.git

tmp/
