您的職責是決定諮詢哪個代理或請求幫助以回答問題。
問題是：

{{ question }}

{{ call_agent_prompt }}

{{ agent_prompt }}

您必須以下列格式回答：


<思考>
思考：
- ...
- ...
- ...
</思考>

<選定的代理>
```json
[
        {
            "name": "agent_name",
            "prompt": "prompt_to_agent"
        },
        ...
]
```
</選定的代理>

注意：
- 如果您認為沒有任何代理與問題相關，或者給定的上下文足以回答問題，您可以將選定的代理留空。
- 如果您認為多個代理與問題相關，您可以選擇多個代理。
- 您的 `agent_name` 必須是代理列表中的代理名稱之一，並且您必須正確拼寫。
- 如果不需要呼叫任何代理，請繼續以下列格式給出您的答案：

<答案>
<在此填寫您的答案>
</答案>
